params {
    genomes {
        'GRCm39-2024-A' {
            fasta       = "${params.genomes_base}/mus_musculus/10x/refdata-gex-GRCm39-2024-A/fasta/genome.fa"
            gtf         = "${params.genomes_base}/mus_musculus/10x/refdata-gex-GRCm39-2024-A/genes/genes.gtf"
            star        = "${params.genomes_base}/mus_musculus/10x/refdata-gex-GRCm39-2024-A/star_2.7.10b"
        }
        'GRCh38-2024-A' {
            fasta       = "${params.genomes_base}/homo_sapiens/10x/refdata-gex-GRCh38-2024-A/fasta/genome.fa"
            gtf         = "${params.genomes_base}/homo_sapiens/10x/refdata-gex-GRCh38-2024-A/genes/genes.gtf"
            star        = "${params.genomes_base}/homo_sapiens/10x/refdata-gex-GRCh38-2024-A/star_2.7.10b"
        }
    }
}
